header nav{
  --nav-height: auto
}
header .bottom-navbar.navbar-nav .nav-item a.nav-link {
  background-image: linear-gradient(to top, #f1efeb, #d6d2ca);
  font-size: 20px;
  font-weight: 700;
  color: var(--color-primary);
}
header .navbar-nav .dropdown-menu {
  width: 100%;
  text-align: center;
  border: none;
  padding: 0;
  margin: 0;
  border-radius: 0;
  margin-top: -5px;
}

header .bottom-navbar.navbar-nav .nav-link.show{
  background: var(--color-primary) !important;
  color: white !important;
}
header .bottom-navbar.navbar-nav .dropdown-menu .dropdown-item{
  background-image: linear-gradient(to top, #f1efeb, #d6d2ca);
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  margin: 5px 0;
  color: var(--color-primary);
  letter-spacing: -.09px;
}
header ul.language-dropdown li.nav-item a.nav-link{
  font-weight: 600;
  color: var(--color-primary);
  text-align: left;
  min-width: 0;
}
header ul.language-dropdown li.nav-item ul.dropdown-menu {
  min-width: 0;
}
header ul.language-dropdown li.nav-item ul.dropdown-menu a.dropdown-item {
  font-weight: 600;
  color: var(--color-primary);
  text-align: left;
}
header ul.language-dropdown li.nav-item a.nav-link:hover{
  color: var(--color-primary);
}
header .border-primary {
  border-color: var(--color-primary) !important;
}
header .border-info {
  border-color: var(--color-info) !important;
}
header .border-warning {
  border-color: var(--color-warning) !important;
}
header .border-success {
  border-color: var(--color-success) !important;
}
header .w-35 {
  width: 35% !important;
}
@media (max-width: 1200px) {
  header .bottom-navbar.navbar-nav .nav-item a.nav-link {
    font-size: 15px;
  }
}